<h1>HELLO RAILS!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'New article', new_article_path %>
<%= link_to 'New user', new_user_path %>
<%= link_to 'Log In', new_session_path %>
